

main section h1 {
	font-size: 150%;
	width: 100%;
	border-bottom: 5px solid lightseagreen; 
	font-weight: bold;
}

main ul li span {
	color:  lightseagreen;
}

.important {
	color: red;
}

header {
	position: relative;
}

main {
	margin-bottom: 40px;
}