main section h1 {
	font-size: 150%;
	width: 100%;
	border-bottom: 5px solid lightseagreen; 
	font-weight: bold;
}

main ul li span {
	color:  lightseagreen;
} 

header {
	position: relative;
}

main {
	position: relative;
	margin-bottom: 40px;
} 